<%- include("partials/header.ejs") %>

<section id="input-post"> <!--SECTION INPUT POST-->
  <div class="img-container mb-0">
    <!--HERE IS BACKGROND IMAGE-->
    </div>
  <h2 class="text-center">Editing post</h2>
  <div class="bg-input-post-container mt-0 mb-0">
    
      <div class="input-post-container-item">

        <form id="input-post" action="/edit/<%= _index_number %>" method="POST">
          
          <label for="text">Author<span class="asteriks">*</span>:</label>
          <input type="text" name="author"  value="<%= postedQuote[_index_number].authorName %>" required>

          <label for="textarea">Quote<span class="asteriks">*</span>:</label>
          <textarea  class="quote" id="quote" name="quote" rows="5" required><%= postedQuote[_index_number].citation %></textarea>
          
          <label for="text">Tags<span class="asteriks">*</span>:</label>
          <input type="text" name="tags" value="<%= postedQuote[_index_number].tagWords %>" required>
          
          <label for="text">Posted by<span class="asteriks">*</span>:</label>
          <input type="text" name="postedBy" value="<%= postedQuote[_index_number].postedName %>" required>

          <button id="btn-submit" class="btn" type="submit">Update</button>
        
        </form>

      </div>
    
  </div>
</section> <!--END OF SECTION INPUT POST-->

<%- include("partials/footer.ejs") %>